{:paths ["src/main"]
 :deps {org.clojure/clojure       {:mvn/version "1.11.1"}

        club.donutpower/system    {:mvn/version "0.0.127"}
        aleph/aleph               {:mvn/version "0.4.7"}
        aero/aero                 {:mvn/version "1.1.6"}
        com.taoensso/timbre       {:mvn/version "5.1.2"}

        metosin/malli             {:mvn/version "0.8.4"}
        com.crypticbutter/snoop   {:mvn/version "21-353-alpha"}}
 :aliases {:dev {:extra-paths ["src/dev" "resources"]
                 :jvm-opts    ["-Dsnoop.enabled"]
                 :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.2.0"}
                               djblue/portal               {:mvn/version "0.23.0"}}}}}
